.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  align-items: stretch;
  padding: 0 20vmin;
}
.container form {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vmin 0 10vmin 0;
  border-radius: 5px 0 0 5px;
  width: 70%;
}
.container form h3 {
  font-size: 90px;
  color: #4e30f5;
  margin-bottom: 2vmin;
}
.container form h3 svg {
  width: 30px;
}
.container form p {
  color: #ff001a;
  margin-bottom: 5vmin;
}
.container form .datas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.container form .datas .data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 5vmin;
  margin: 2vmin 0;
}
.container form .datas .data label {
  color: #4e30f5;
  font-weight: bold;
}
.container form .datas .data input {
  padding: 3vmin 2vmin;
  width: 100%;
  border: 1px solid #4e30f5;
  border-radius: 5px;
  margin-top: 1vmin;
}
.container form .dataButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3vmin;
}
.container form .dataButton button {
  border-radius: 10px;
  border: 1px solid white;
  color: #4e30f5;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  background-color: white;
  transition: 0.5s;
  padding: 2vmin 6vmin;
}
.container form .dataButton button:hover {
  box-shadow: inset 100% 0 0 0 #4e30f5;
  color: white;
  cursor: pointer;
}
.container form .dataButton a {
  color: #4e30f5;
}
.container .img {
  background-image: url("../../public/layered-waves-haikei.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
  width: 100%;
  border-radius: 0 5px 5px 0;
}

@media only screen and (max-width: 1000px) {
  .container form h3 {
    font-size: 70px;
  }
  .container form .dataButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container form .dataButton button {
    padding: 2vmin 10vmin;
    margin-bottom: 5vmin;
  }
  .container .img {
    background-position: 20% 50%;
  }
}
@media only screen and (max-width: 910px) {
  .container .img {
    background-position: 10% 50%;
  }
}
@media only screen and (max-width: 840px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container form {
    border-radius: 5px;
  }
  .container .img {
    display: none;
  }
}
@media only screen and (max-width: 695px) {
  .container form {
    width: 100%;
  }
}
@media only screen and (max-width: 525px) {
  .container {
    padding: 10vmin;
  }
}
@media only screen and (max-width: 450px) {
  .container form h3 {
    font-size: 50px;
  }
  .container form label {
    font-size: 14px;
    margin-bottom: 1vmin;
  }
  .container form .datas .data input {
    padding: 5vmin 3vmin;
  }
  .container form .datas .data input::-moz-placeholder {
    opacity: 0;
  }
  .container form .datas .data input:-ms-input-placeholder {
    opacity: 0;
  }
  .container form .datas .data input::placeholder {
    opacity: 0;
  }
  .container form .dataButton button {
    padding: 3vmin 20vmin;
  }
  .container form .dataButton a {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.module.css.map */