@import "../uniform";

.container {
  @include centerDiv(row);
  background-color: transparent;
  align-items: stretch;
  padding: 0 20vmin;
  form {
    background-color: white;
    @include centerDiv(column);
    padding: 2vmin 0 10vmin 0;
    border-radius: 5px 0 0 5px;
    width: 70%;
    h3 {
      font-size: 90px;
      color: $backgroundColor;
      margin-bottom: 2vmin;
      svg {
        width: 30px;
      }
    }
    p {
      color: $red;
      margin-bottom: 5vmin;
    }
    .datas {
      @include centerDiv(row);
      flex-wrap: wrap;
      .data {
        @include centerDiv(column);
        align-items: flex-start;
        margin: 0 auto;
        padding: 0 5vmin;
        margin: 2vmin 0;
        label {
          color: $backgroundColor;
          font-weight: bold;
        }
        input {
          padding: 3vmin 2vmin;
          width: 100%;
          border: 1px solid $backgroundColor;
          border-radius: 5px;
          margin-top: 1vmin;
        }
      }
    }
    .dataButton {
      @include centerDiv(row);
      margin-top: 3vmin;
      button {
        @include animatedButton();
        padding: 2vmin 6vmin;
      }
      a {
        color: $backgroundColor;
      }
    }
  }
  .img {
    background-image: url("../../public/layered-waves-haikei.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    width: 100%;
    border-radius: 0 5px 5px 0;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    form {
      h3 {
        font-size: 70px;
      }
      .datas {
      }
      .dataButton {
        @include centerDiv(column);
        button {
          padding: 2vmin 10vmin;
          margin-bottom: 5vmin;
        }
      }
    }
    .img {
      background-position: 20% 50%;
    }
  }
}

@media only screen and (max-width: 910px) {
  .container {
    .img {
      background-position: 10% 50%;
    }
  }
}

@media only screen and (max-width: 840px) {
  .container {
    @include centerDiv(column);
    form {
      border-radius: 5px;
    }
    .img {
      display: none;
    }
  }
}

@media only screen and (max-width: 695px) {
  .container {
    form {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 525px) {
  .container {
    padding: 10vmin;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    form {
      h3 {
        font-size: 50px;
      }
      label {
        font-size: 14px;
        margin-bottom: 1vmin;
      }
      .datas {
        .data {
          input {
            padding: 5vmin 3vmin;
            &::placeholder {
              opacity: 0;
            }
          }
        }
      }
      .dataButton {
        button {
          padding: 3vmin 20vmin;
        }
        a {
          font-size: 14px;
        }
      }
    }
  }
}
