@import "../uniform";

.container {
  @include centerDiv(column);
  height: 75vh;
  position: absolute;
  z-index: 10;
  margin-top: 15vh;
  overflow-y: scroll;
  justify-content: flex-start;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  padding: 10vmin 0;
  .intro {
    @include centerDiv(row);
    justify-content: space-around;
    background-color: transparent;
    padding: 0 10vmin;
    margin-top: 10vmin;
    .text {
      @include centerDiv(column);
      align-items: flex-start;
      h1 {
        font-size: 180px;
        color: white;
        font-weight: bold;
      }
      h4 {
        font-size: 20px;
        color: white;
        width: 80%;
      }
    }
    .svgWrapper {
      @include centerDiv(row);
      flex-shrink: 0;
      margin: 20px;
      height: calc(150px + 6vw);
      width: calc(150px + 6vw);
      border: calc(8px + 0.2vw) solid transparent;
      background-origin: border-box;
      background-clip: content-box, border-box;
      background-size: cover;
      box-sizing: border-box;
      box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
      width: auto;
      padding: 20vmin 0;
      border-radius: 50% 10%;
      background-image: var(--img-url),
        linear-gradient(to bottom left, #f83600, #f9d423);
      svg {
        width: 40%;
        color: white;
      }
    }
  }
  .profileData {
    @include centerDiv(column);
    background-color: white;
    width: auto;
    padding: 5vmin;
    border-radius: 10px;
    margin-top: 20vmin;
    .titleWrapper {
      @include centerDiv(row);
      margin-bottom: 5vmin;
      justify-content: space-around;
      h1 {
        font-size: 70px;
        color: $backgroundColor;
      }
      .pic {
        flex-shrink: 0;
        margin: 20px;
        height: calc(150px + 6vw);
        width: calc(150px + 6vw);
        border: calc(8px + 0.2vw) solid transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-size: cover;
        box-sizing: border-box;
        border-radius: 30%;
        background-image: url("../../public/logowhite.png"),
          linear-gradient($backgroundColor, $accent2);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
      }
    }
    .datas {
      @include centerDiv(row);
      justify-content: stretch;
      .data {
        @include centerDiv(column);
        align-items: flex-start;
        width: auto;
        margin: 0 5vmin;
        label {
          color: $backgroundColor;
        }
        input {
          padding: 3vmin 2vmin;
          width: 50vmin;
          margin-top: 1vmin;
          border: 1.2px solid $backgroundColor;
          border-radius: 5px;
          color: $backgroundColor;
        }
        button {
          padding: 2vmin 0;
          border-radius: 10px;
          border: 1px solid white;
          color: $backgroundColor;
          background: none;
          border: 2px solid;
          font: inherit;
          line-height: 1;
          margin: 0.5em;
          padding: 1em 2em;
          background-color: white;
          transition: 0.5s;

          &:hover {
            box-shadow: inset 20em 0 0 0 $backgroundColor;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
