.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
  position: absolute;
  z-index: 10;
  margin-top: 15vh;
  overflow-y: scroll;
  justify-content: flex-start;
  scrollbar-width: none;
  padding: 10vmin 0;
}
.container::-webkit-scrollbar {
  display: none;
}
.container .intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
  padding: 0 10vmin;
  margin-top: 10vmin;
}
.container .intro .text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.container .intro .text h1 {
  font-size: 180px;
  color: white;
  font-weight: bold;
}
.container .intro .text h4 {
  font-size: 20px;
  color: white;
  width: 80%;
}
.container .intro .svgWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  margin: 20px;
  height: calc(150px + 6vw);
  width: calc(150px + 6vw);
  border: calc(8px + 0.2vw) solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
  width: auto;
  padding: 20vmin 0;
  border-radius: 50% 10%;
  background-image: var(--img-url), linear-gradient(to bottom left, #f83600, #f9d423);
}
.container .intro .svgWrapper svg {
  width: 40%;
  color: white;
}
.container .profileData {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: auto;
  padding: 5vmin;
  border-radius: 10px;
  margin-top: 20vmin;
}
.container .profileData .titleWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5vmin;
  justify-content: space-around;
}
.container .profileData .titleWrapper h1 {
  font-size: 70px;
  color: #4e30f5;
}
.container .profileData .titleWrapper .pic {
  flex-shrink: 0;
  margin: 20px;
  height: calc(150px + 6vw);
  width: calc(150px + 6vw);
  border: calc(8px + 0.2vw) solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  border-radius: 30%;
  background-image: url("../../public/logowhite.png"), linear-gradient(#4e30f5, #40bea7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.container .profileData .datas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: stretch;
}
.container .profileData .datas .data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  margin: 0 5vmin;
}
.container .profileData .datas .data label {
  color: #4e30f5;
}
.container .profileData .datas .data input {
  padding: 3vmin 2vmin;
  width: 50vmin;
  margin-top: 1vmin;
  border: 1.2px solid #4e30f5;
  border-radius: 5px;
  color: #4e30f5;
}
.container .profileData .datas .data button {
  padding: 2vmin 0;
  border-radius: 10px;
  border: 1px solid white;
  color: #4e30f5;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  background-color: white;
  transition: 0.5s;
}
.container .profileData .datas .data button:hover {
  box-shadow: inset 20em 0 0 0 #4e30f5;
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=style.module.css.map */