@import "../uniform";

.container {
  height: 100vh;
  padding: 6vmin 3vmin;
  @include centerDiv(row);
  align-items: flex-start;
  .text {
    @include centerDiv(column);
    height: 100%;
    color: white;
    h1 {
      font-size: 60px;
      text-align: center;
      width: 80%;
    }
    h4 {
      margin-top: 5vmin;
      width: 80%;
    }
  }
  .tableWrapper {
    @include centerDiv(column);
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.07);

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track {
      opacity: 1;
    }
    background-color: white;

    .table {
      padding: 3vmin;
      overflow-y: scroll;
      height: 60vmin;
      color: $textColor1;
      @include centerDiv(column);
      justify-content: flex-start;
      .thead {
        @include centerDiv(column);
        div {
          @include centerDiv(row);
          padding-bottom: 1vmin;
          .td {
            @include centerDiv(column);
            width: 14.2857142857%;
            padding: 0 1vmin;
            font-size: 16px;
            div {
              text-align: center;
              color: $backgroundColor;
              font-weight: bold;
            }
          }
        }
      }
      .tbody {
        @include centerDiv(column);
        div {
          @include centerDiv(row);
          height: 8vmin;
          border-bottom: 1px solid $backgroundColor;
          .td {
            @include centerDiv(column);
            width: 14.2857142857%;
            font-size: 15px;
            border: none;
            div {
              text-align: center;
              border: none;
              svg {
                width: 4vmin;
                color: $red;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  .controls {
    @include centerDiv(column);
    justify-content: flex-start;
    width: 70%;
    .titleWrapper {
      align-items: flex-start;
      padding: 6vmin 0 10vmin 0;
      h1 {
        font-size: 60px;
        color: $textColor2;
      }
    }
    .classWrapper {
      @include centerDiv(column);
      padding: 0 5vmin 0 2vmin;
      label {
        font-size: 15px;
        color: white;
        text-align: left;
        width: 100%;
      }
      select {
        padding: 3vmin 3vmin;
        width: 50vmin;
        margin-top: 1vmin;
        border-radius: 5px;
        width: 100%;
        border: none;
        color: $backgroundColor;
      }
      p {
        color: white;
        margin-top: 3vmin;
      }
    }
    .dayChangeButtonWrapper {
      @include centerDiv(row);
      margin-top: 15vmin;
      button {
        width: 60%;
        padding: 2vmin 0;
        border-radius: 10px;
        border: 1px solid white;
        color: $backgroundColor;
        background: none;
        border: 2px solid;
        font: inherit;
        line-height: 1;
        margin: 0.5em;
        padding: 1em 2em;
        background-color: white;
        transition: 0.4s;

        &:hover {
          box-shadow: inset 20em 0 0 0 $backgroundColor;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.tableWrapperWrapper {
  @include centerDiv(row);
  height: 100%;
  h1 {
    color: white;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    height: auto;
    flex-wrap: wrap;
    max-height: 75vh;
    align-items: flex-start;
    .tableWrapperWrapper {
      height: auto;
    }
    .controls {
      .dayChangeButtonWrapper {
        margin: 5vmin 0;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .td {
    div {
      font-size: 11px;
      text-align: center;
    }
  }
  .container {
    .controls {
      .dayChangeButtonWrapper {
        button {
          &:hover {
            background-color: white;
            color: $backgroundColor;
            box-shadow: inset 0 0 0 0 $backgroundColor;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .container {
    .text {
      h1 {
        font-size: 40px;
      }
    }
    .tableWrapperWrapper {
      padding: 10vmin 0;

      .tableWrapper {
        .table {
          .tbody {
            div {
              padding: 1vmin 0;
              height: auto;
              border: none;
              border-bottom: 1px solid $backgroundColor;
              div {
                border: none;
                .td {
                  border: none;
                  div {
                    border: none;
                    font-size: 9px;
                    text-align: center;
                    padding: 0.5vmin;
                    font-size: 10px;
                  }
                }
              }
            }
          }
          .thead {
            .td {
              div {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    .controls {
      .titleWrapper {
        margin-bottom: 10vmin;
        h1 {
          font-size: 40px;
        }
      }
      .classWrapper {
        padding: 0;
        width: 90%;
        label {
          margin-bottom: 3vmin;
        }
        select {
          font-size: 15px;
          height: auto;
          width: 100%;
          padding: 10vmin 0;
          padding-left: 5vmin;
        }
      }
      .dayChangeButtonWrapper {
        button {
          @include centerDiv(row);
          padding: 10vmin 0;
          border: none;
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
