@import "../uniform";

.container {
  @include centerDiv(row);
  background-color: transparent;
  position: absolute;
  height: 75vh;
  ::-webkit-scrollbar {
    display: none;
  }
  .errorsWrapper {
    @include centerDiv(column);
    background-color: white;
    justify-content: flex-start;
    width: 60%;
    padding: 0vmin 0 10vmin 0;
    height: 60vmin;
    overflow-y: scroll;
    border-radius: 10px;
    h1 {
      color: $backgroundColor;
      font-size: 40px;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid $backgroundColor;
      padding: 5vmin 0;
      margin-bottom: 10vmin;
    }
    .error {
      @include centerDiv(column);
      width: 60%;
      margin: 5vmin 0;
      background-color: $backgroundColor;
      padding: 3vmin;
      border-radius: 5px;
      .data {
        @include centerDiv(row);
        justify-content: space-between;
        p {
          color: white;
        }
      }
      .errorContent {
        @include centerDiv(row);
        padding: 10vmin 0;
        div {
          width: 100%;
          text-align: left;
          padding: 0 3vmin;
          color: white;
        }
      }
      .buttonWrapper {
        @include centerDiv(row-reverse);
        justify-content: space-between;
        padding: 0 5vmin;
        button {
          @include centerDiv(row);
          width: auto;
          padding: 1vmin 1vmin;
          border-radius: 5px;
          border: 1px solid white;
          background-color: white;
          color: $backgroundColor;
          transition: all 0.6s;
          &:hover {
            background-color: $backgroundColor;
            color: white;
            cursor: pointer;
          }
          svg {
            width: 20px;
            color: inherit;
          }
        }
      }
    }
    .sep {
      padding: 0.5px 0;
      width: 50%;
      background-color: $backgroundColor;
    }
  }
}
