.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  position: absolute;
  height: 75vh;
}
.container ::-webkit-scrollbar {
  display: none;
}
.container .errorsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  width: 80%;
  padding: 0vmin 0 10vmin 0;
  height: 60vmin;
  overflow-y: scroll;
  border-radius: 10px;
  border: 1px solid white;
}
.container .errorsWrapper .errorControlPanel {
  border-bottom: 1px solid #4e30f5;
  margin-bottom: 10vmin;
  padding: 5vmin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container .errorsWrapper .errorControlPanel h1 {
  color: #4e30f5;
  font-size: 40px;
  width: 100%;
  text-align: center;
}
.container .errorsWrapper .errorControlPanel button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 40%;
  margin: 0 2vmin;
  padding: 1vmin;
  background-color: #4e30f5;
  border: 1px solid #4e30f5;
  color: white;
  border-radius: 5px;
  transition: all 0.6s;
}
.container .errorsWrapper .errorControlPanel button:hover {
  cursor: pointer;
  background-color: white;
  color: #4e30f5;
}
.container .errorsWrapper .errorControlPanel button svg {
  width: 20px;
  color: inherit;
}
.container .errorsWrapper .errorControlPanel div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
  justify-content: flex-start;
}
.container .errorsWrapper .errorControlPanel div button {
  width: auto;
}
.container .errorsWrapper .error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 5vmin 0;
  background-color: #4e30f5;
  padding: 3vmin;
  border-radius: 5px;
}
.container .errorsWrapper .error .data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container .errorsWrapper .error .data p {
  color: white;
}
.container .errorsWrapper .error .errorContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10vmin 0;
}
.container .errorsWrapper .error .errorContent div {
  width: 100%;
  text-align: left;
  padding: 0 3vmin;
  color: white;
}
.container .errorsWrapper .error .buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 5vmin;
}
.container .errorsWrapper .error .buttonWrapper button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  padding: 1vmin 1vmin;
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  color: #4e30f5;
  transition: all 0.6s;
}
.container .errorsWrapper .error .buttonWrapper button:hover {
  background-color: #4e30f5;
  color: white;
  cursor: pointer;
}
.container .errorsWrapper .error .buttonWrapper button svg {
  width: 20px;
  color: inherit;
}
.container .errorsWrapper .sep {
  padding: 0.5px 0;
  width: 50%;
  background-color: #4e30f5;
}/*# sourceMappingURL=style.module.css.map */