@mixin centerDiv($direction) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

$backgroundColor: #4e30f5;
$textColor1: #1e1926;
$textColor2: white;
$textColor3: #9989b4;
$accent1: #e8abff;
$accent2: #40bea7;
$red: #ff001a;
